<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 11 | Sychronic</title>
    <!-- Favicons -->
    <link href="img/2.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/bc297fed98.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/levels.css">
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>

</head>

<body>

    <div class="main">
        <div class="container">
            <h1 id="synchronic">SYNCHRONIC</h1>
        </div>
        <div class="row">
            <!-- left column starts here -->
            <div class="column left" style="background-color:#0e0d0d;">
                <h2>T I M E L I N E</h2>
                <div class="row d-flex justify-content-center mt-70 mb-70">
                    <div class="col-md-6">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <!-- <h4 class="card-title">Team Progress</h4> -->
                                <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i>
                                            </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelone">
                                                    <h4 class="timeline-title">The Beginning
                                                    </h4>
                                                    <p><%=levelone %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/levelone">Level
                                                        1</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/leveltwo">
                                                    <h4 class="timeline-title">Amy's Location
                                                    </h4>
                                                    <p><%=leveltwo %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/leveltwo">Level
                                                        2</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i>
                                            </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelthree">
                                                    <h4 class="timeline-title">The Box
                                                    </h4>
                                                    <p><%=levelthree %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/levelthree">Level
                                                        3</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelfour">
                                                    <h4 class="timeline-title">The Hurdle
                                                    </h4>
                                                    <p><%=levelfour %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/levelfour">Level
                                                        4</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelfive">
                                                    <h4 class="timeline-title">The Pass-Code
                                                    </h4>
                                                    <p><%=levelfive %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/levelfive">Level
                                                        5</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelsix">
                                                    <h4 class="timeline-title">The Invitation
                                                    </h4>
                                                    <p><%=levelsix %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/levelsix">Level
                                                        6</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelseven">
                                                    <h4 class="timeline-title">The Puzzle
                                                    </h4>
                                                    <p><%=levelseven %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/levelseven">Level
                                                        7</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/leveleight">
                                                    <h4 class="timeline-title">Another brick in the wall
                                                    </h4>
                                                    <p><%=levelnine %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/leveleight">Level
                                                        8</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelnine">
                                                    <h4 class="timeline-title">The Blackout
                                                    </h4>
                                                    <p><%=levelnine %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/levelnine">Level
                                                        9</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelten">
                                                    <h4 class="timeline-title">Home Sweet Home
                                                    </h4>
                                                    <p><%=levelten %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a href="/levelseven">Level
                                                        10</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot answered-question"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/leveleleven">
                                                    <h4 class="timeline-title">Black Mirror
                                                    </h4>
                                                    <p class="answered">Currently Here</p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a
                                                        href="/leveleleven">Level
                                                        11</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/leveltwelve">
                                                    <h4 class="timeline-title">Who's knocking?
                                                    </h4>
                                                    <p><%=leveltwelve %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a
                                                        href="/leveltwelve">Level
                                                        12</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelthirteen">
                                                    <h4 class="timeline-title">The Reunion
                                                    </h4>
                                                    <p><%=levelthirteen %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a
                                                        href="/levelthirteen">Level
                                                        13</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelfourteen">
                                                    <h4 class="timeline-title">The Loop
                                                    </h4>
                                                    <p><%=levelfourteen %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a
                                                        href="/levelfourteen">Level
                                                        14</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                    class="badge badge-dot badge-dot-xl badge-warning"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <a href="/levelfifteen">
                                                    <h4 class="timeline-title">The Final Chapter
                                                    </h4>
                                                    <p><%=levelfifteen %></p>
                                                </a>
                                                <span class="vertical-timeline-element-date"><a
                                                        href="/levelfifteen">Level
                                                        15</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>



            <!-- first column of the main division ends here and middle column starts here -->


            <div class="column middle" style="background-color:#0e0d0d;">

                <div class="imgcontainer">
                    <img src="img/ques11.png" class="avatar">
                </div>

                <div class="container">
                    <label for="uname">
                        <h3>Problem Statement 11</h3>
                        <p> I can still see the car with broken mirror even though it is so dark. Find the car's number?
                            <br> <br>
                            .... ..... ... ... . .. .... .. ... .... . ... . ..... ... ... ... .. .. .... .... .. ....
                            .. ... .... .... ..

                        </p>
                        <p class="hint"><%=hint%></p>
                    </label>
                    <form action="/leveleleven" method="POST" autocomplete="off">
                        <input type="text" placeholder="Your answer..." name="answer" required>
                        <div class="container" style="text-align: center;">
                            <button type="submit" class="button button2">Submit</button>
                        </div>
                    </form>


                    <div class="container" style="text-align: center;"><button class="button button1"
                            onclick="document.getElementById('id01').style.display='block'"> Take
                            a
                            Hint</button></div>

                    <div id="id01" class="modal">

                        <div class="modal-content animate">

                            <p class="hintpopup">Are you sure you want to take a hint?<br></p>
                            <div class="container" style="text-align: center;">
                                <a type="button" href="/levelelevenhint" style="margin-top: 10px;"
                                    class="button button1" type="submit">Yes</a>
                            </div>
                            <br>
                            <div class="container" style="text-align: center;"><a href="/leveleleven"
                                    class="button button2">No</a></div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- end of middle column and start of right column -->

            <div class="column right" style="background-color:#0e0d0d;">

                <div class="content">
                    <p class="multipleStrings" style="font-size: 1.3rem;">Welcome Team <%=team%>!</p>
                </div>
                <div class="container" style="text-align: center;">
                    <a type="button" href="/logout" style="margin-top: 10px;" class="button button1">Logout</a>
                </div>

                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                    crossorigin="anonymous"></script>

                <script>
                    new TypeIt(".multipleStrings", {
                        strings: ["Glad to see you here"],
                        speed: 50,
                        waitUntilVisible: true
                    }).go();
                </script>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container-fluid" style="padding: 5px;">
            <div class="row">
                <!-- <div class="col-md-4">
                    <ul class="social-icons float-lg-left">
                        <li><img src="img/logo.png" style="margin: 8px; margin-bottom: 0;" width="50" height="50"
                                alt=""></li>
                        <li><img src="img/ti-no-bg.png" style="margin: 8px; margin-bottom: 0;" width="30" height="46"
                                alt=""></li>
                    </ul>
                </div> -->
                <div class="col-md-4">
                    <p class="copyright-text"> &copy; 2020, Made by
                        <a class="team-backslash" href="/home" style="text-decoration: none;">Team Backs\ash</a>.
                    </p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons mt-3">
                        <li><a class="facebook" href="/"><i class="fa fa-home"></i></a></li>
                        <li><a class="twitter" href="https://discord.gg/JxcX5E92aX"><i class="fab fa-discord"></i></a>
                        </li>
                        <li><a class="dribbble" href="https://www.instagram.com/backslashtiet/"><i
                                    class="fa fa-instagram"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/company/backslash-computing-society"><i
                                    class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- optional script in case we fail to implement the modal take hint button -->
    <script>
        function myFunction() {
            confirm("Are you sure you want to take hint?");
        }
    </script>



    <!-- script for closing the hint popup by clicking on the rest of the screen -->
    <script>
        var modal = document.getElementById('id01');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>